[submodule "ext/hdf5-rust"]
	path = ext/hdf5-rust
	url = https://github.com/srirampc/hdf5-rust.git
[submodule "ext/sope"]
	path = ext/sope
	url = https://github.com/srirampc/sope.git
[submodule "ext/lightgbm-3"]
	path = ext/lightgbm-3
	url = https://github.com/srirampc/lightgbm3-rs.git
